*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pink{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: #fff;
    font-size: 18px;

}

